src/main/app/bunnyorderservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context"
	xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
	
	<context:property-placeholder location="classpath:bunnyorderservice.properties,/opt/mule/conf/bunnyorderservice.properties" ignore-resource-not-found="true" ignore-unresolvable="true" />
	
	<amqp:connector name="AMQP_Connector" host="${rabbit.host}"
		port="${rabbit.port}" ackMode="MANUAL" validateConnections="true" doc:name="AMQP Connector" />

	<flow name="bunnyOrderService">
		<amqp:inbound-endpoint exchangeName="bunny_exchange"
			queueName="order-queue" queueDurable="true" exchange-pattern="one-way"
			connector-ref="AMQP_Connector" doc:name="AMQP" />

		<object-to-string-transformer />
	
		<logger level="INFO" message="Processing order" />
		<logger level="INFO" message="Publishing message to exchange" />
		<set-property value="#[payload]" propertyName="routingKey"
			doc:name="Property" />
		<amqp:outbound-endpoint responseTimeout="10000"
			exchange-pattern="one-way" doc:name="AMQP" exchangeName="bunny_exchange"
			connector-ref="AMQP_Connector" routingKey="#[message.outboundProperties.routingKey]" />
		<amqp:acknowledge-message />
	</flow>
</mule>
